#wb-skip, .ui-header h2{
	clip: rect(1px, 1px, 1px, 1px);
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    position: absolute;
    width: 0 !important;
}

.ui-header {
	background: #3c3c3c;
	background: -moz-linear-gradient(#3c3c3c, #515151);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3c3c3c), color-stop(100%,#515151));
	background: -webkit-linear-gradient(#3c3c3c,#515151);
	background: -o-linear-gradient(#3c3c3c,#515151);
	background: -ms-linear-gradient(#3c3c3c,#515151);
	background: linear-gradient(#3c3c3c,#515151);
	background-size: 100% 60%;
}

.ui-header object {
	height:32px;
	width:69px;
	padding:5px 5px 0 5px;
}


#wet-title, .glbpnl h2 {
	background: #11507c
	background: -moz-linear-gradient(#11507c, #176da7);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#11507c), color-stop(100%,#176da7));
	background: -webkit-linear-gradient(#11507c,#176da7);
	background: -o-linear-gradient(#11507c,#176da7);
	background: -ms-linear-gradient(#11507c,#176da7);
	background: linear-gradient(#11507c,#176da7);
}

#wet-title {
	padding: 0 5px;
}

#wet-title a {
	color: #FFFFFF !important;
	font-size: 1.5em;
	text-decoration: none;
	text-shadow: 0 1px 1px #044062;
}

.glbpnl h2 {
	margin:-15px -15px 0 -15px;
	padding:5px;
	color:#FFF;
	text-shadow:none;
}

.glbpnl h3, .glbpnl h4, .glbpnl h5{
	margin: 0;
}

.glbpnl .ui-collapsible-heading .ui-btn, .glbpnl .ui-li {
    border-left-width: 1px;
    border-right-width: 1px;
}

.glbpnl .ui-btn.ui-last-child {
    border-bottom-width: 1px;
}

.glbpnl  .ui-collapsible-content {
    padding-top: 0;
	padding-bottom:0;
}

.glbpnl .ui-btn{
	margin:0;
}

.glbpnl .ui-listview .ui-li {
    list-style: none outside none;
    padding: 0;
}
